.row-poster-main{
    margin-left: 20px;
    color: #fff;
}
.posters{
    display: flex;
    padding: 20px;
    overflow-x: scroll;
    overflow-y: hidden;
}

 .posters::-webkit-scrollbar {
     display: none; 
 } 
 
.poster{
    max-width: 350px;
    margin-right: 10px;
}


.smallPoster{
    max-width: 150px;
    margin-right: 10px;
}

.row-post-img-container{
    position: relative;
    align-items: center;
    color: #fff;
    transition: all .2s ease-in-out;

    
}
.row-post-img-container:hover{
    position: relative;
    transform: scale(1.2);
    right: 30px;
    transform-origin: center
}
.row-post-img-contents{
    position: absolute;
    top: 30px;
}
.row-post-overview{
    font-size: 11px;
    padding: 10px;
    

}


